@model IEnumerable<SimpleMVCApp.Models.Persona>

<!DOCTYPE html>
<html>
<head>
    <title>Personas</title>
</head>
<body>
    <h1>Lista de Personas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in Model)
            {
                <tr>
                    <td>@persona.PersonaID</td>
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellidos</td>
                    <td>@persona.Edad</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
